@model IEnumerable<situationWebBTS.ViewModels.CoursesData>

<h3>Inscriptions</h3>

<table>
    <tr>
        <th>
            Rang
        </th>
        <th>
            Matière
        </th>
        <th>
            Inscriptions
        </th>
    </tr>
    
    @{ int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td width="20%">
                @i
            </td>
            <td width="20%">
                @Html.DisplayFor(modelItem => item.course.Title)
            </td>
            <td width="20%">
                @Html.DisplayFor(modelItem => item.EnrolledStudentsCount)
            </td>
        </tr>
        i++;
    }
</table>