@model IEnumerable<situationWebBTS.ViewModels.EnrollmentDateGroup>

<h3>Inscriptions</h3>

<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            Etudiants
        </th>
        <th>
            Moyenne
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td width="20%">
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td width="20%">
                @item.StudentCount
            </td>
            <td width="20%">
                @if (!object.Equals(item.GradeAverage, default(double?)))
                {
                    @Math.Round(decimal.Parse(item.GradeAverage.Value.ToString()), 2);
                }
            </td>
        </tr>
    }
</table>
